@page "/CreateTeam"
@rendermode InteractiveServer
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject UserStateService UserState

<h3>Create Team</h3>

<div class="mb-3 mt-3">
    <label for="NaamTeam">Naam Team:</label>
    <input type="text" class="form-control" id="NaamTeam" placeholder="Geef de Naam Van het Team" @bind="_NaamTeam" />
</div>

<div class="mb-3">
    <label for="Natie">nationaliteit:</label>
    <input type="text" class="form-control" id="Natie" placeholder="Nationaliteit" @bind="_Natie" />
</div>

<button class="btn btn-primary" @onclick="() => CreateTeamUser()">Create Team</button>

@code {
    private string _NaamTeam = "";
    private string _Natie = "";

    public async Task CreateTeamUser()
    {
        var url = $"/Create/Team?NaamTeam={Uri.EscapeDataString(_NaamTeam)}&NationaliteitTeam={Uri.EscapeDataString(_Natie)}&UserID={UserState.UserId}";
        var response = await Http.PostAsync(url, null);
        await CreateCalender();
        Navigation.NavigateTo("/Home");
    }
    public async Task CreateCalender()
    {
        var urlSeizon = $"create/Eerste/seizon?IDUser={UserState.UserId}";
        var responseSeizon = await Http.PostAsync(urlSeizon, null);
        //nog niet af moet nog raceweekends in stellen
    }
}
