@page "/Home"
@rendermode InteractiveServer
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject UserStateService UserState

<PageTitle>Home</PageTitle>

<h1>welcome to F1 Manager @UserState.Username</h1>


