@page "/"
@page "/login"
@inject HttpClient Http
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IJSRuntime JS

<h3>Login</h3>

<div class="mb-3 mt-3">
    <label for="username">Gebruikersnaam:</label>
    <input type="text" class="form-control" id="username" placeholder="gebruikersnaam" @bind="_username" />
</div>

<div class="mb-3">
    <label for="password">Wachtwoord:</label>
    <input type="password" class="form-control" id="password" placeholder="wachtwoord" @bind="_password" />
</div>

<button class="btn btn-primary" @onclick="() => LoginUser()">Log in</button>
<button class="btn btn-primary" @onclick="() => RegistreerUser()">Registreer</button>

@code {
    private string _username = "";
    private string _password = "";

    public async Task LoginUser()
    {
        Console.WriteLine( "Login pressed" );
        var url = $"/user/check?username={Uri.EscapeDataString(_username)}&password={Uri.EscapeDataString(_password)}";
        var response = await Http.GetAsync(url);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/home");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await JS.InvokeVoidAsync("alert", "Ongeldige gebruikersnaam of wachtwoord.");
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Er is een fout opgetreden. Probeer het later opnieuw.");
        }	
    }
    public async Task RegistreerUser()
    {
        Navigation.NavigateTo("/register");
        
    }
}
